/* .App {
  text-align: center;
} */

.App-logo {
  height: 30px;
  padding-bottom: 2px;
}



.App-header {
  /* background-color: #222; */
  background-color: #222;
  text-align: center;
  height: 125px;
  padding: 25px;
}

.App-title {
  margin-left: 15px;
  font-size: .8em;
  color: yellowgreen;
}

.App-intro {
  font-size: large;
}

